<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Create a new Landmark!</h1>

	<form action="/landmarks" method="post">

	  <label>Landmark name: <input type="text" name="landmark[name]" id="landmark_name"></label>
	  <label>Year completed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed" value=""></label>

	  <input type="submit" value="Create New Landmark">

	</form>

</body>
</html>